/* Global Styles */
body {
    margin: 0;
    font-family: 'Gordon Black', sans-serif;
    background-color: #f3e7d2;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #357484, #5eb1bc, #357484);
    padding: 0.5em 1em;
    /*border-radius: 30px 30px 30px 30px;*/
}

.logo img {
    height: 80px;
}

.logo-text {
    flex-grow: 1;
    font-size: 30px;
    margin-left: 10px;
    color: #ffffff;
}

.slogan {
    margin-right: 5%;
    font-size: 18px;
    color: #ffffff;
}

/* Main Section */
.main-image {
    width: 100%;
    height: auto;
    background: url('mainpicture.png') no-repeat center;
    background-size: cover;
}

.info-box {
    background-color: rgba(94, 177, 188, 0.8);
    padding: 1em;
    color: white;
    max-width: 25%;
    position: absolute;
    right: 5%;
    top: 20%;
}

/* White boxes section */
.content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 2em;
    
}

.white-box {
    background-color: #fffffe;
    padding: 1em;
    height: 300px; /* Increased height */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.contact-section {
    background-color: #5eb1bc;
    padding: 1em;
    text-align: center;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form button {
    background-color: #1d465b;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #163d47;
}
/* Media Queries */
@media (max-width: 768px) { /* Tablet size */
    .content-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .info-box {
        max-width: 70%;
        right: 5%;
        top: 5%;
    }

    .header .logo img {
        height: 40px;
    }

    .header .logo-text {
        font-size: 20px;
    }

    .slogan {
        font-size: 16px;
    }
}

@media (max-width: 480px) { /* Mobile size */
    .content-section {
        grid-template-columns: 1fr;
    }

    .info-box {
        max-width: 90%;
        right: 5%;
        top: 5%;
    }

    .header .logo img {
        height: 30px;
    }

    .header .logo-text {
        font-size: 18px;
    }

    .slogan {
        font-size: 14px;
    }

    .contact-form {
        width: 100%;
    }
}

/* For larger screens, make .main-image bigger */
@media (min-width: 769px) {
    .main-image {
        height: 600px; /* Set to desired height */
    }
}
